* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}

header,
.allnotes,
.task-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}


.center {
    margin-top: 30vh;
}

.allnotes {

    gap: 10px;
    flex-wrap: wrap;
}

.pen,
.del {
    background-color: #d5d1c3;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
}

.pen {

    bottom: 8px;
    right: 67px;
}

.del {
    bottom: 8px;
    right: 15px;
}

.pen:hover,
.edit:hover {
    background-color: #F1F0E8;
    cursor: pointer;
}